*.pro
build-Interview_problems-Qt_6_2_2_for_macOS-Debug/Makefile
build-Interview_problems-Qt_6_2_2_for_macOS-Debug/main.o
build-Interview_problems-Qt_6_2_2_for_macOS-Debug/.qmake.stash
Interview_problems/
build-Interview_problems-Qt_6_2_2_for_macOS-Debug/
